.products__section h2 {
  margin: 0 auto;
  text-align: center;
  color: var(--color-red);
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-red);
  padding: 20px;
  width: 90%;
  font-size: clamp(30px, 3vw, 50px);
  letter-spacing: 5px;
}
.products__container {
  height: auto;

  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  justify-content: center;
}
.card__container {
  width: 90%;
  max-width: 500px;
  height: 80vh;
  background: linear-gradient(
    180deg,
    #df3232 0%,
    rgba(248, 247, 247, 0.979) 100%
  );
  border-radius: 20px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 20px;
  position: relative;
  *border: 10px solid #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__container h3 {
  font-size: clamp(24px, 4vw, 40px);
  color: var(--color-white);
  margin-top: 20px;
  position: relative;
  z-index: 2;
  text-shadow: 0 0 3px #333;
}
.card__img__container {
  max-width: 800px;
  width: 118%;
  position: relative;
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}
.card__img__container img {
  width: 100%;
  filter: drop-shadow(0px 5px 8px rgba(9, 0, 0, 0.545));
}
#card__price {
  color: #333;
}

.card__btn {
  background: var(--color-white);
  border-radius: 10px;
  border: 2px solid var(--color-red);
  color: var(--color-red);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-1);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 15px;
  outline: none;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  z-index: 0;
  padding: 10px;
  width: 100%;
}
.card__btn svg{
  margin-right: 5px;
  position: relative;
  top: 3px;
  font-size: 25px;
}
.card__btn:hover {
  color: #fff;
}
.card__btn:hover:after {
  width: 100%;
}
.card__btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: var(--color-red);
}
@media (max-width: 562px) {
  .products__container {
    padding: 20px;
    gap: 3rem;
  }
}
