.products__section h2{
  margin: 0 auto;
  text-align: center;
  color: var(--color-red);
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-red);
  padding: 20px;
  width: 90%;
  font-size: clamp(30px, 3vw, 50px);
  letter-spacing: 5px;

  }
.products__container {
  height: auto;
  
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  justify-content: center;
  
}
.card__container {
  width: 90%;
  max-width: 500px;
  height: 80vh;
  background: linear-gradient(
    180deg,
    #df3232 0%,
    rgba(248, 247, 247, 0.979) 100%
  );
  border-radius: 20px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 20px;
  position: relative;
  *border: 10px solid #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__container h3 {
  font-size: clamp(24px, 4vw, 40px);
  color: var(--color-white);
  margin-top: 20px;
  position: relative;
  z-index: 2;
  text-shadow: 0 0 3px #333;
}
.card__img__container {
  max-width: 800px;
  width: 118%;
  position: relative;
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}
.card__img__container img {
  width: 100%;
  filter: drop-shadow(0px 5px 8px rgba(9, 0, 0, 0.545));
}
#card__price {
  color: #333;
}
.card__btn {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--color-red);
  background-color: var(--color-white);
  color: var(--color-red);
  font-size: 20px;
  letter-spacing: 3px;
  font-family: var(--font-1);
 margin-top: 15px;
}
@media (max-width: 562px) {
  .products__container {
   padding: 20px;
   gap: 3rem;
  }
}

