.banner__container {
  position: relative;
}
.banner__img {
  width: 100%;
}
.banner__img img {
  width: 100%;
}
.banner__text__container {
  position: absolute;
  top: 30px;
  left: 60px;
}
.banner__container h1 {
  font-size: clamp(40px, 8vw, 150px);
  color: var(--color-red);
  letter-spacing: 5px;
  text-shadow: 0 0 3px rgb(5, 0, 0);
  border-bottom: 5px dotted var(--color-red);
 
  width: clamp(300px, 40vw, 800px);
}

.banner__text {
  color: var(--color-white);
  font-size: clamp(16px, 3vw, 50px);
  width: clamp(300px, 43vw, 800px);

  line-height: clamp(22px, 5vw, 80px);
  text-shadow: 0 0 3px rgb(5, 0, 0);
}

@media (max-width: 1024px) {
  .banner__container h1 {
    width: clamp(230px, 43vw, 800px);
  }
}
@media (max-width: 768px) {
  .banner__text {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .banner__text {
    width: 70%;
    margin-top: 15px;
  }
}
