.slider__container {
  padding: clamp(20px, 3vw, 60px) clamp(10px, 3vw, 100px);
  *margin: 0 5%;
}
.slider__container h2{
    margin: 0 auto;
    text-align: center;
    color: var(--color-red);
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-red);
    padding: 20px;
    width: 90%;
    font-size: clamp(30px, 3vw, 50px);
    letter-spacing: 5px;
}
.swiper-button-next {
  color: var(--color-red);
  right: 10px;
}
.swiper-button-prev {
  color: var(--color-red);
  left: 0;
}

.mySwiper {
  padding: clamp(40px, 3vw, 50px) ;
  padding-right: 40px;
  padding-left: 40px;
}

/* @media screen and (max-width: 900px) {
  .slider__container {
    padding: 60px 10px;
    margin: 0 0%;
  }
  .mySwiper {
    padding: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
 
  
}
@media screen and (max-width: 550px) {
  .slider__container {
    padding: 0px;
    margin: 0 1%;
  }
  .mySwiper {
    padding: 10px;
    *padding-right: 40px;
    min-width: 300px;
  }
  
} */